.lang-selector {
    display: flex;
    align-items: stretch;
}

.lang-selector ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}

.lang-selector li{ 
    color: #aaa;
    list-style: none;
    display: flex;
    align-items: stretch;
    border-bottom: .5em solid;
    border-bottom-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1em 1em;
}

.lang-selector li:hover{
    color: white;
}

.lang-selector li.active{
    color: white;
    border-bottom-color: var(--main-active-color);
    background-color: var(--second-active-color);
    
}