.lang-selector {
    display: flex;
}

.lang-selector ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}

.lang-selector li{ 
    list-style: none;
    display: flex;
    align-items: stretch;
    border-top: 1em solid;
    border-top-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1em 1em;
}

.lang-selector li.active{
    border-top-color: var(--main-active-color);
    background-color: var(--second-active-color);
}