.default-layout {
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: column;
}

.container {
    max-width: 1140px;
    margin: 5em auto;
    margin-bottom: 1em;
    padding: 0 1em;
}

@media (max-width: 1080px) {
    .container {
        margin: 5em 0;
    }
}
