.page-index {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.page-index-left {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}


.page-index-right {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

