.navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}

.navbar li{ 
    list-style: none;
    display: flex;
    align-items: stretch;
    border-bottom: .5em solid;
    border-bottom-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1em 1em;
}

.navbar li:hover{
    color: black;
}

.navbar li.active{
    color: black;
    border-bottom-color: var(--main-active-color);
    background-color: var(--second-active-color);
}